@import '../../styles/variables.module.scss';

@keyframes cloud_back {
  0% {
    right: -56.25%;
  }
  50% {
    right: 0%;
  }
  100% {
    right: -56.25%;
  }
}

@keyframes cloud_front1 {
  0% {
    left: 0;
  }
  50% {
    left: -50%;
  }
  100% {
    left: -100%;
  }
}

@keyframes cloud_front2 {
  0% {
    left: 100%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}

.clouds_block {
  position: absolute;
  top: -($main-padding);
  left: -($main-padding);
  width: 100vw;
  max-height: 970px;
  height: 100vh;
  z-index: 0;

  & .cloud {
    position: absolute;
    width: 100%;
    height:  100%;

    &.cloud_back {
      right: -56.25%;
      z-index: 1;
      animation: 40s cloud_back linear infinite;
      width: 156.25vw;
    }

    &.cloud_front1 {
      left: 0;
      z-index: 2;
      animation: 20s cloud_front1 linear infinite;
    }

    &.cloud_front2 {
      left: 100%;
      z-index: 3;
      animation: 20s cloud_front2 linear infinite;
    }
  }
}

.fade_block {
  position: absolute;
  bottom: 0;
  z-index: 4;
  height: 173px;
  width: 100vw;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}